.slider_main {
  padding-top: 45px;
  display: block;
  box-sizing: border-box;
}
.slider_wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
}

.slider_inner {
  margin-bottom: 0;
}
.slider_list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0px 50px;
}
.slider_track {
  opacity: 1;
  /* transform: translate3d(-5000px, 0px, 0px); */
  width: auto;
  display: flex;
  position: relative;
  left: 0;
  top: 0;
}

.slider_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
  border: none;
}

.slider_btn.nextarrow {
  right: calc((100% - 1200px) / 2);
}
.slider_btn.prevarrow {
  left: calc((100% - 1210px) / 2);
}

.slider_btn span {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
